<div class="ui vertical segment">
  <h2 class="ui header">
    <i class="circular inverted blue users icon"></i>
    <div class="content">
      <%=t 'sidebar.teamworks' %>
    </div>
  </h2>
  <%= form_tag teamworks_path, method:'GET', class:"ui form" do %>
    <div class="inline fields">
      <div class="field">
        <%= text_field_tag :search, params[:search], placeholder: t('.header.search') %>
      </div>
      <div class="field">
        <%= submit_tag t('.header.search'), class:"ui blue button" %>
      </div>
    </div>
  <% end %>
  <%= link_to new_teamwork_path, class:"ui green labeled icon button" do %>
    <i class="plus icon"></i><%=t '.header.new' %>
  <% end %>
</div>

<table class="ui table segment">
  <thead>
    <tr>
      <th class="twelve wide"><%=t '.table.title' %></th>
      <th class="three wide"><%=t '.table.updated_at' %></th>
      <th class="one wide"></th>
    </tr>
  </thead>
  <tbody>
    <% @teamworks.each do |teamwork| %>
      <tr>
        <td><%= link_to teamwork.title, teamwork_path(teamwork) %></td>
        <td><%=l teamwork.updated_at,:format=>:long %></td>
        <% if is_admin? %>
          <td>
            <%= link_to content_tag('i',nil,class:'trash icon'), teamwork, method: :delete,
                  data: { confirm: '.table.delete_confirm' } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pagination teamworks_path, params[:page], @pages %>
