<div class="ui vertical segment">
  <div class="ui huge header">
    <div class="ui label">
      <i class="pencil icon"></i>
      <%=t 'sidebar.wikis' %>
    </div>
    <%=t '.new' %>
  </div>
</div>
<div class="ui ordered three large steps">
  <div class="ui active step">
    <div class="content">
      <div class="title"><%=t '.steps.step1' %></div>
    </div>
  </div>
  <div class="ui disabled step">
    <div class="content">
      <div class="title"><%=t '.steps.step2' %></div>
    </div>
  </div>
  <div class="ui disabled step">
    <div class="content">
      <div class="title"><%=t '.steps.step3' %></div>
    </div>
  </div>
</div>
<%= render 'form' %>
