<% @page = params[:page] ? params[:page].to_i : 1 %>
<% if @messages.length > 0 and @messages.total_pages >= @page %>
  <% @messages.each do |message| %>
    <div class="event">
      <div class="label">
        <%= image_tag message.user.avatar.url(:thumb), class: 'ui avatar image' %>
      </div>
      <div class="content">
        <div class="summary">
          <%= message.user.name %>
          <div class="date">
            <%= time_ago_in_words message.created_at %>
          </div>
        </div>
        <div class="extra text">
          <%= message.content %>
        </div>
        <div class="meta">
          <%= link_to like_message_path(message), method: :put, remote: true,
              class: 'like', id: message.id do %>
            <% if message.like.include? current_user.id %>
              <i class="red like icon"></i>
            <% else %>
              <i class="like icon"></i>
            <% end %>
            <span><%= message.like.size %></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to t('.more'), messages_path(page: @page + 1), id: 'more',
      class: 'ui fluid basic button', remote: true %>
<% end %>
