<div class="ui vertical segment">
  <h2 class="ui header">
    <i class="blue user icon"></i>
    <div class="content"><%=t 'module.messages' %></div>
  </h2>

  <button type="button" id="new-message-btn" class="ui green labeled icon button">
    <i class="plus icon"></i><%=t '.new' %></button>
</div>


<% @messages.each do |message| %>
  <% if (message.read and message.read.include? current_user.id) or message.created_at <= current_user.created_at %>
    <div class="ui message">
      <div class="header">
        <%= message.user.name %>
      </div>
      <p><%= message.content %></p>
    </div>
  <% else %>
    <div class="ui info message">
      <div class="header">
        <%= message.user.name %>
        <%=l message.created_at, format: :long %>
      </div>
      <p><%= message.content %></p>
      <td>
        <%= link_to t('.mark_as_read'), message, method: :put %>
      </td>
    </div>
  <% end %>
<% end if @messages %>

<%= paginate @messages %>


<div class="ui standard modal" id="new-message-modal">
  <i class="close icon"></i>
  <div class="header">
    <h4><%=t '.new' %></h4>
  </div>
  <div class="content">
    <%= form_for @message,html:{class:"ui form",id:"new-message-form"} do |f| %>
      <div class="field">
        <%= f.label :content, t('.content') %>
        <%= f.text_area :content %>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <button type="button" class="ui positive right labeled icon button"
      onClick="$('#new-message-form').submit();">
      <%=t '.submit' %><i class="checkmark icon"></i>
    </button>
    <button type="button" class="ui cancel button"><%=t '.cancel' %></button>
  </div>
</div>

<script>
$(document).on("ready page:load", function() {
  $('#new-message-modal')
    .modal('attach events', '#new-message-btn', 'show')
  ;
});
</script>
