<div class="ui vertical segment">
  <h2 class="ui header">
    <i class="blue user icon"></i>
    <div class="content">
      <%= @profile.user.name %>
    </div>
  </h2>
</div>

<div class="ui stackable two column grid">

  <div class="four wide column">
    <div class="ui special cards">
      <div class="card">
        <div class="dimmable image">
          <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <button type="button" id="edit-photo-btn" class="ui labeled icon button">
                  <i class="edit icon"></i><%=t '.photo' %></button>
              </div>
            </div>
          </div>
          <% if @profile.photo.attached? %>
            <%= image_tag @profile.photo.variant(resize: "300x300") %>
          <% else %>
            <%= image_tag 'default/user/photo/small/missing.png' %>
          <% end %>
          </div>
        <div class="content">
          <div class="header"><%= @profile.user.name %></div>
          <div class="meta">
            <span class="date">
              <%=t '.date', created_at: l(@profile.user.created_at, format: :long) %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="twelve wide column">
    <%= form_for(@profile, method: :put, html:{class:'ui form segment'}) do |f| %>

      <div class="field">
        <%= f.label :email_public, t('.email_public') %>
        <%= f.email_field :email_public %>
      </div>

      <div class="two fields">
        <div class="field">
          <%= f.label :postion, t('.position') %>
          <%= f.select :position,
            Profile.positions.map{|k,v| [t('.positions')[v], v]},
            {},{class:"ui dropdown"} %>
        </div>

        <div class="field">
          <%= f.label :grade, t('.grade') %>
          <%= f.text_field :grade %>
        </div>
      </div>

      <div class="field">
        <%= f.label :resume, t('.resume') %>
        <%= f.text_area :resume, class:'editor' %>
      </div>

      <%= f.submit t('.submit'), class: "ui blue button" %>
      <%= link_to t('.cancel'), profile_path, class: "ui button" %>
    <% end %>
  </div>
</div>

<div class="ui small modal" id="edit-photo-modal">
  <i class="close icon"></i>
  <div class="header">
    <h4><%=t '.photo' %></h4>
  </div>
  <div class="content">
    <%= form_for @profile, method: :put,
        html:{class:"ui form", id:"edit-photo-form"} do |f| %>
      <div class="field">
        <%= f.file_field :photo %>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <button type="button" class="ui blue button"
        form="edit-photo-form" value="Submit"><%=t '.submit' %></button>
    <button type="button" class="ui cancel button"><%=t '.cancel' %></button>
  </div>
</div>

<script>
$(document).on("ready page:load", function(){
  $('.special.cards .image').dimmer({
    on: 'hover'
  });
  $('#edit-photo-modal')
    .modal('attach events', '#edit-photo-btn', 'show')
  ;
});
</script>
