<%= form_for(:session, url: sessions_path,html:{class:'ui form segment'}) do |f| %>
  <div class="ui dividing header"><%= t '.signin' %></div>
  <% if flash[:error] %>
    <div class="alert alert-danger" role="alert">
        <p><%= flash[:error] %></p>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :username, t('.username') %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password, t('.password') %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <div class="ui toggle checkbox">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, t('.remember_me') %>
    </div>
  </div>

  <div class="2 fluid ui buttons">
    <%= f.submit t('.submit'), class: "ui blue button" %>
    <div class="or" data-text="<%= t('.or') %>"></div>
    <div class="ui green button"><%= t('.apply') %></div>
  </div>

  <div class="ui hidden divider"></div>
  <div class="ui bottom right attached label">
    <%= t('.powered_by_html',
      :link => link_to('RTISS', 'http://rtiss.org')) %>
  </div>
<% end %>

<script>
$(document).on("ready page:load", function() {
  $('.ui.checkbox')
    .checkbox()
  ;
});
</script>
