<div class="ui secondary menu">
  <div class="item">
    <div class="ui huge breadcrumb">
      <%= link_to t('module.topics'), forums_path, class: "section" %>
      <i class="right angle icon divider"></i>
      <div class="active section">All Fourms</div>
    </div>
  </div>
  <div class="right menu">
    <%= link_to new_forum_path, class:"item" do %>
      <i class="plus icon"></i><%=t '.new' %>
    <% end if can? :create, Forum %>
  </div>
</div>

<table class="ui fixed table">
  <thead>
    <tr>
      <th class="four wide"><%=t '.table.title' %></th>
      <th class="nine wide"><%=t '.table.description' %></th>
      <th class="three wide"><%=t '.table.last_updated_at' %></th>
    </tr>
  </thead>
  <tbody>
    <% @forums.each do |forum| %>
      <tr>
        <td>
          <%= link_to forum.name, forum_topics_path(forum) %>
        </td>
        <td><%= forum.description %></td>
        <td><%=l forum.updated_at,:format=>:long %></td>
      </tr>
    <% end %>
  </tbody>
</table>
