<% if @meeting.errors.any? %>
  <div class="ui icon error message">
    <i class="attention circle icon"></i>
    <div class="content">
      <% @meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </div>
  </div>
<% end %>

<%= form_for(@meeting, html:{class:'ui form segment'}) do |f| %>

  <div class="field">
    <%= f.label :title, t('.title') %>
    <%= f.text_field :title %>
  </div>

  <div class="two fields">
    <div class="field">
      <%= f.label :starts_at, t('.starts_at') %>
      <%= f.datetime_local_field :starts_at %>
    </div>
    <div class="field">
      <%= f.label :ends_at, t('.ends_at') %>
      <%= f.datetime_local_field :ends_at %>
    </div>
  </div>

  <div class="field">
    <%= f.label :place, t('.place') %>
    <%= f.text_field :place %>
  </div>

  <div class="field">
    <%= f.label :content, t('.content') %>
    <%= f.text_area :content, class:'editor'%>
  </div>

  <div class="field">
    <div class="ui toggle checkbox">
      <%= f.check_box :public %>
      <%= f.label :public, t('.public') %>
    </div>
  </div>

  <%= f.submit t('.submit'), class:"ui blue button" %>
  <%= link_to t('.cancel'), meetings_path, class:'ui button' %>
<% end %>
