<div class="ui vertical segment">

  <div class="ui header">
    <div class="ui huge breadcrumb">
      <%= link_to meetings_path, class:'section' do %>
        <i class="blue briefcase icon"></i>
        <%=t 'module.meetings' %>
      <% end %>
      <i class="right chevron icon divider"></i>
      <div class="active section"><%= @meeting.title %></div>
    </div>
  </div>

  <p>
    <%= link_to edit_meeting_path(@meeting), class:"ui labeled icon button" do %>
      <i class="edit icon"></i><%= t '.edit' %>
    <% end %>
    <% if is_admin? %>
      <%= link_to @meeting, method: :delete, data: { confirm: t('.delete_confirm') },
          class:"ui red labeled icon button" do %>
        <i class="trash icon"></i><%=t '.delete' %>
      <% end %>
    <% end %>
  </p>
</div>
<div class="ui piled segment"><%= raw @meeting.content %></div>
