<div class="ui secondary menu">
  <div class="item">
    <div class="ui huge breadcrumb">
      <a class="section"><%=t 'module.inventories' %></a>
      <i class="right angle icon divider"></i>
      <div class="active section">List</div>
    </div>
  </div>
  <div class="right menu">
    <%= link_to new_inventory_path, class:"item" do %>
      <i class="plus icon"></i><%=t '.new' %>
    <% end if can? :create, Inventory %>

    <%= form_tag inventories_path, method:'GET', class:"item" do %>
      <div class="ui icon input">
        <%= text_field_tag :search, params[:search], placeholder:t('.search') %>
        <i class="search link icon"></i>
      </div>
    <% end %>
  </div>
</div>

<table class="ui selectable table">
  <thead>
    <tr>
        <th class="three wide"><%=t '.table.item_name' %></th>
        <th class="two wide"><%=t '.table.serial_number' %></th>
        <th class="two wide"><%=t '.table.quantity' %></th>
        <th class="four wide"><%=t '.table.location' %></th>
        <th class="two wide"><%=t '.table.type' %></th>
        <th class="three wide"><%=t '.table.vendor_name' %></th>
    </tr>
  </thead>
  <tbody>
    <% @inventories.each do |inventory| %>
    <tr>
      <td><%= link_to inventory.item_name, inventory_path(inventory) %></td>
      <td><%= inventory.serial_number %></td>
      <td><%= inventory.quantity.to_s + inventory.unit_size %></td>
      <td><%= inventory.location + inventory.sub_location %></td>
      <td><%= inventory.type %></td>
      <td><%= inventory.vendor_name %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @inventories %>
