<div class="ui secondary menu">
  <div class="item">
    <div class="ui huge breadcrumb">
      <%= link_to t('module.inventories'), inventories_path, class: "section" %>
      <i class="right angle icon divider"></i>
      <div class="active section"><%= @inventory.item_name %></div>
    </div>
  </div>
  <div class="right menu">
    <%= link_to edit_inventory_path(@inventory), class:"item" do %>
      <i class="edit icon"></i><%= t '.edit' %>
    <% end if can? :update, @inventory %>
    <%= link_to @inventory, method: :delete, data: { confirm: t('.delete_confirm') },
        class:"item" do %>
      <i class="red trash icon"></i><%=t '.delete' %>
    <% end if can? :destroy, @inventory %>
  </div>
</div>

<table class="ui definition table">
  <thead>
    <tr><th></th>
    <th>Description</th>
  </tr></thead>
  <tbody>
    <tr>
      <td><%=t '.item_name' %></td>
      <td><%= @inventory.item_name %></td>
    </tr>
    <tr>
      <td><%=t '.price' %></td>
      <td><%= @inventory.price %></td>
    </tr>
    <tr>
      <td><%=t '.quantity' %></td>
      <td><%= @inventory.quantity %></td>
    </tr>
    <tr>
      <td><%=t '.unit_size' %></td>
      <td><%= @inventory.unit_size %></td>
    </tr>
    <tr>
      <td><%=t '.url' %></td>
      <td><%= @inventory.url %></td>
    </tr>
    <tr>
      <td><%=t '.technical_details' %></td>
      <td><%= @inventory.technical_details %></td>
    </tr>
    <tr>
      <td><%=t '.expiration_date' %></td>
      <td><%= @inventory.expiration_date %></td>
    </tr>
    <tr>
      <td><%=t '.cas_number' %></td>
      <td><%= @inventory.cas_number %></td>
    </tr>
    <tr>
      <td><%=t '.serial_number' %></td>
      <td><%= @inventory.serial_number %></td>
    </tr>
    <tr>
      <td><%=t '.bought_from' %></td>
      <td><%= @inventory.bought_from %></td>
    </tr>
    <tr>
      <td><%=t '.location' %></td>
      <td><%= @inventory.location %></td>
    </tr>
    <tr>
      <td><%=t '.sub_location' %></td>
      <td><%= @inventory.sub_location %></td>
    </tr>
    <tr>
      <td><%=t '.location_details' %></td>
      <td><%= @inventory.location_details %></td>
    </tr>
    <tr>
      <td><%=t '.type' %></td>
      <td><%= @inventory.type %></td>
    </tr>
    <tr>
      <td><%=t '.vendor_name' %></td>
      <td><%= @inventory.vendor_name %></td>
    </tr>
  </tbody>
</table>
