<%= form_for(@bulletin, html:{class:'ui form segment'}) do |f| %>
  <% if @bulletin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bulletin.errors.count, "error") %> prohibited this bulletin from being saved:</h2>

      <ul>
      <% @bulletin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, t('.title') %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content, t('.content') %>
    <%= f.text_area :content, class:'editor'%>
  </div>

  <div class="field">
    <div class="ui toggle checkbox">
      <%= f.check_box :public %>
      <%= f.label :public, t('.public') %>
    </div>
  </div>

  <%= f.submit t('.submit'), class:"ui blue button" %>
  <%= link_to t('.cancel'), bulletins_path, class:"ui button" %>
<% end %>
