<div class="ui vertical segment">

  <div class="ui header">
    <div class="ui huge breadcrumb">
      <%= link_to bulletins_path, class:'section' do %>
        <i class="blue bullhorn icon"></i>
        <%=t 'module.bulletin' %>
      <% end %>
      <i class="right chevron icon divider"></i>
      <div class="active section"><%= @bulletin.title %></div>
    </div>
  </div>

  <p>
    <%= link_to edit_bulletin_path(@bulletin), class:"ui labeled icon button" do %>
      <i class="edit icon"></i><%= t '.edit' %>
    <% end %>
    <% if is_admin? %>
      <%= link_to @bulletin, method: :delete, data: { confirm: t('.delete_confirm') },
          class:"ui red labeled icon button" do %>
        <i class="trash icon"></i><%=t '.delete' %>
      <% end %>
    <% end %>
  </p>
</div>
<div class="ui piled segment"><%= raw @bulletin.content %></div>
