<% if @topic.errors.any? %>
  <div class="ui icon error message">
    <i class="attention circle icon"></i>
    <div class="content">
      <% @topic.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  </div>
<% end %>
<%= form_for [@forum, @topic], html: { class: 'ui form segment' } do |f| %>
  <div class="field">
    <%= f.label :title, t('.title') %>
    <%= f.text_field :title, placeholder: 'Title' %>
  </div>
  <div class="field">
  <%= f.label :tags_list %>
    <div class="ui fluid multiple search selection dropdown">
      <%= f.hidden_field :tags_list %>
      <i class="dropdown icon"></i>
      <div class="default text">Tags</div>
      <div class="menu">
      </div>
    </div>
  </div>
  <div class="field">
    <%= f.label :content, t('.content') %>
    <%= f.rich_text_area :content %>
  </div>
  <div class="field">
    <div class="ui toggle checkbox">
      <%= f.check_box :hidden %>
      <%= f.label :hidden, t('.hidden') %>
    </div>
  </div>
  <%= f.submit t('.submit'), class:"ui blue button" %>
<% end %>

<script>
$(document).on("turbolinks:load", function() {
  $('.ui.multiple.dropdown').dropdown({
    allowAdditions: true
  })
});
</script>
