<div class="ui vertical segment">
  <div class="ui header">
    <div class="ui huge breadcrumb">
      <%= link_to oauth_authorized_applications_path, class:'section' do %>
        <i class="blue plug icon"></i>
        <%=t 'module.oauth' %>
      <% end %>
      <i class="right chevron icon divider"></i>
      <div class="active section"><%= t('doorkeeper.applications.index.title') %></div>
    </div>
  </div>
</div>

<table class="ui table segment">
  <thead>
    <tr>
      <th class="eight wide"><%= t('.name') %></th>
      <th class="eight wide"><%= t('.callback_url') %></th>
    </tr>
  </thead>
  <tbody>
  <% @applications.each do |application| %>
    <tr>
      <td><%= link_to application.name, oauth_application_path(application) %></td>
      <td><%= application.redirect_uri %></td>
    </tr>
  <% end %>
  </tbody>
</table>
