<div class="ui vertical segment">
  <h2 class="ui header">
    <i class="circular inverted blue plug icon"></i>
    <div class="content">
      <%=t 'module.oauth' %>
    </div>
  </h2>
  <%= link_to oauth_authorized_applications_path, class:"ui blue labeled icon button" do %>
    <i class="list layout icon"></i><%=t('doorkeeper.authorized_applications.index.title') %>
  <% end %>
  <%= link_to new_oauth_application_path, class:"ui green labeled icon button" do %>
    <i class="plus icon"></i><%=t '.new' %>
  <% end %>
</div>

<table class="ui table segment">
  <thead>
    <tr>
      <th class="eight wide"><%= t('.name') %></th>
      <th class="eight wide"><%= t('.callback_url') %></th>
    </tr>
  </thead>
  <tbody>
  <% @applications.each do |application| %>
    <tr>
      <td><%= link_to application.name, oauth_application_path(application) %></td>
      <td><%= application.redirect_uri %></td>
    </tr>
  <% end %>
  </tbody>
</table>
