<div class="ui vertical segment">
  <h2 class="ui header">
    <i class="circular inverted blue sitemap icon"></i>
    <div class="content">
      <%=t 'module.groups' %>
    </div>
  </h2>
  <%= link_to new_group_path, class:"ui green labeled icon button" do %>
    <i class="plus icon"></i><%=t '.new' %>
  <% end %>
</div>

<table class="ui table segment">
  <thead>
    <tr>
      <th class="six wide"><%=t '.table.name' %></th>
      <th class="six wide"><%=t '.table.admins' %></th>
      <th class="four wide"><%=t '.table.members' %></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td><%= group.admins.map(&:name).join(',') %></td>
        <td><%= group.members.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @groups %>
