<div class="ui vertical segment">

  <div class="ui header">
    <div class="ui huge breadcrumb">
      <%= link_to groups_path, class:'section' do %>
        <i class="blue sitemap icon"></i>
        <%=t 'module.groups' %>
      <% end %>
      <i class="right chevron icon divider"></i>
      <div class="active section"><%= @group.name %></div>
    </div>
  </div>

  <p>
    <%= link_to edit_group_path(@group), class:"ui labeled icon button" do %>
      <i class="edit icon"></i><%= t '.edit' %>
    <% end if can? :update, @group %>
    <%= link_to @group, method: :delete, data: { confirm: t('.delete_confirm') },
        class:"ui red labeled icon button" do %>
      <i class="minus circle icon"></i><%=t '.delete' %>
    <% end if can? :destroy, @group %>
  </p>
</div>

<div class="ui list">
  <div class="item">
    <div class="header"><%=t '.name' %></div>
    <%= @group.name %>
  </div>
  <div class="item">
    <div class="header"><%=t '.description' %></div>
    <%= @group.description %>
  </div>
  <div class="item">
    <div class="header"><%=t '.admins' %></div>
    <%= @group.admins.map(&:name).join(',') %>
  </div>
  <div class="item">
    <div class="header"><%=t '.members' %></div>
    <%= @group.members.map(&:name).join(',') %>
  </div>
</div>

<table class="ui celled structured table">
  <thead>
    <tr>
      <th rowspan="2" class="center aligned"><%=t '.modules' %></th>
      <th colspan="4" class="center aligned"><%=t '.permissions' %></th>
    </tr>
    <tr>
      <th class="center aligned"><%=t '.read' %></th>
      <th class="center aligned"><%=t '.create' %></th>
      <th class="center aligned"><%=t '.edit' %></th>
      <th class="center aligned"><%=t '.delete' %></th>
    </tr>
  </thead>
  <tbody>
    <% modules = [Achievement, Order, Comment, Instrument, Meeting, News,
      Resource, Topic, Wiki, Inventory] %>
    <% for m in modules %>
      <tr>
        <td><%=t "users.edit.permission_#{m.to_s.downcase}" %></td>
        <td class="center aligned">
          <% if @group.permission.send(m.to_s.downcase) >= 1 %>
            <i class="large green checkmark icon"></i>
          <% else %>
            <i class="large red remove icon"></i>
          <% end %>
        </td>
        <td class="center aligned">
          <% if @group.permission.send(m.to_s.downcase) >= 2 %>
            <i class="large green checkmark icon"></i>
          <% else %>
            <i class="large red remove icon"></i>
          <% end %>
        </td>
        <td class="center aligned">
          <% if @group.permission.send(m.to_s.downcase) >= 3 %>
            <i class="large green checkmark icon"></i>
          <% else %>
            <i class="large red remove icon"></i>
          <% end %>
        </td>
        <td class="center aligned">
          <% if @group.permission.send(m.to_s.downcase) >= 4 %>
            <i class="large green checkmark icon"></i>
          <% else %>
            <i class="large red remove icon"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
