<% if @user.errors.any? %>
  <div class="ui icon error message">
    <i class="attention circle icon"></i>
    <div class="content">
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </div>
  </div>
<% end %>

<%= form_for(@user, html:{class:'ui form segment'}) do |f| %>

  <div class="two fields">
    <div class="field">
      <%= f.label :username, t('.username') %>
      <%= f.text_field :username, placeholder: t('.username') %>
    </div>

    <div class="field">
      <%= f.label :name, t('.name') %>
      <%= f.text_field :name, placeholder: t('.name') %>
    </div>
  </div>

  <div class="field">
    <%= f.label :email, t('.email') %>
    <%= f.email_field :email, placeholder: t('.email') %>
  </div>

  <div class="field">
    <%= f.label :password, t('.password') %>
    <%= f.password_field :password, placeholder: t('.password') %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, t('.password_confirmation') %>
    <%= f.password_field :password_confirmation, placeholder: t('.password_confirmation') %>
  </div>

  <% if params[:action] == 'new' %>
    <div class="field">
      <%= show_simple_captcha %>
    </div>
  <% end %>

  <%= f.submit t('.submit'), class:"ui blue button" %>
  <%= link_to t('.cancel'), users_path, class:"ui button" %>
<% end %>
