<div class="ui vertical segment">
  <h2 class="ui header">
    <i class="circular inverted blue users icon"></i>
    <div class="content">
      <%=t 'module.users' %>
    </div>
  </h2>
  <%= link_to new_user_path, class:"ui green labeled icon button" do %>
    <i class="plus icon"></i><%=t '.new' %>
  <% end %>
</div>

<p id="notice"><%= notice %></p>

<table class="ui table segment">
  <thead>
    <tr>
      <th class="three wide"><%=t '.table.name' %></th>
      <th class="three wide"><%=t '.table.username' %></th>
      <th class="four wide"><%=t '.table.email' %></th>
      <th class="two wide"><%=t '.table.state' %></th>
      <th class="two wide"><%=t '.table.admin' %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <% if user.state == 1 %>
        <td><%= t('.table.states')[user.state] %></td>
        <% else %>
        <td style="color:red;"><%= t('.table.states')[user.state] %></td>
        <% end %>
        <td><%= user.admin ? content_tag('i',nil,class:'checkmark icon') :
                  content_tag('i',nil,class:'remove icon')%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pagination users_path, params[:page], @pages %>
