<div class="ui secondary menu">
  <div class="item">
    <div class="ui huge breadcrumb">
      <%= link_to t('module.users'), users_path, class:'section' %>
      <i class="right angle icon divider"></i>
      <div class="active section"><%= @user.name %></div>
    </div>
  </div>
  <div class="right menu">
    <% if @user.admin %>
      <%= link_to user_path(@user, "user[admin]": false), class:"item", method: :put do %>
        <i class="edit icon"></i><%= t '.remove_admin' %>
      <% end if can? :update, @user %>
    <% else %>
      <%= link_to user_path(@user, "user[admin]": true), class:"item", method: :put do %>
        <i class="edit icon"></i><%= t '.set_as_admin' %>
      <% end if can? :update, @user %>
    <% end %>

    <%= link_to @user, method: :delete, data: { confirm: t('.delete_confirm') },
        class:"item" do %>
      <i class="red trash icon"></i><%=t '.delete' %>
    <% end if can? :destroy, @user %>
  </div>
</div>

<div class="ui list">

  <div class="item">
    <div class="header"><%=t '.email' %></div>
    <%= @user.email %>
  </div>
  <div class="item">
    <div class="header"><%=t '.locale' %></div>
    <%= @user.locale %>
  </div>

  <div class="item">
    <div class="header"><%=t '.last_sign_in_at' %></div>
    <%=l(@user.last_sign_in_at, format: :long) if @user.last_sign_in_at %>
  </div>
  <div class="item">
    <div class="header"><%=t '.last_sign_in_ip' %></div>
    <%= @user.last_sign_in_ip %>
  </div>
  <div class="item">
    <div class="header"><%=t '.current_sign_in_at' %></div>
    <%=l(@user.current_sign_in_at, format: :long) if @user.current_sign_in_at %>
  </div>
  <div class="item">
    <div class="header"><%=t '.current_sign_in_ip' %></div>
    <%= @user.current_sign_in_ip %>
  </div>
  <div class="item">
    <div class="header"><%=t '.state' %></div>
    <%= t('users.index.table.states')[@user.state] %>
  </div>
  <div class="item">
    <div class="header"><%=t '.admin' %></div>
    <%= @user.admin %>
  </div>
  <div class="item">
    <div class="header"><%=t '.avatar' %></div>
    <%= image_tag @user.avatar.url(:thumb) %>
  </div>

</div>
