<div class="ui vertical segment">

  <div class="ui header">
    <div class="ui huge breadcrumb">
      <%= link_to users_path, class:'section' do %>
        <i class="blue users icon"></i>
        <%=t 'module.users' %>
      <% end %>
      <i class="right chevron icon divider"></i>
      <div class="active section"><%= @user.name %></div>
    </div>
  </div>

  <p>
    <%= link_to edit_user_path(@user), class:"ui labeled icon button" do %>
      <i class="edit icon"></i><%= t '.edit' %>
    <% end if can? :update, @user %>
    <%= link_to @user, method: :delete, data: { confirm: t('.delete_confirm') },
        class:"ui red labeled icon button" do %>
      <i class="minus circle icon"></i><%=t '.delete' %>
    <% end if can? :destroy, @user %>
  </p>
</div>

<div class="ui list">
  <div class="item">
    <div class="header"><%=t '.username' %></div>
    <%= @user.username %>
  </div>
  <div class="item">
    <div class="header"><%=t '.email' %></div>
    <%= @user.email %>
  </div>
  <div class="item">
    <div class="header"><%=t '.email_verified' %></div>
    <%= @user.email_verified %>
  </div>
  <div class="item">
    <div class="header"><%=t '.email_public' %></div>
    <%= @user.email_public %>
  </div>
  <div class="item">
    <div class="header"><%=t '.locale' %></div>
    <%= @user.locale %>
  </div>
  <div class="item">
    <div class="header"><%=t '.position' %></div>
    <%= t('profiles.edit.positions')[@user.position] %>
  </div>
  <div class="item">
    <div class="header"><%=t '.grade' %></div>
    <%= @user.grade %>
  </div>
  <div class="item">
    <div class="header"><%=t '.rank' %></div>
    <%= @user.rank %>
  </div>
  <div class="item">
    <div class="header"><%=t '.last_sign_in_at' %></div>
    <%=l(@user.last_sign_in_at, format: :long) if @user.last_sign_in_at %>
  </div>
  <div class="item">
    <div class="header"><%=t '.last_sign_in_ip' %></div>
    <%= @user.last_sign_in_ip %>
  </div>
  <div class="item">
    <div class="header"><%=t '.current_sign_in_at' %></div>
    <%=l(@user.current_sign_in_at, format: :long) if @user.current_sign_in_at %>
  </div>
  <div class="item">
    <div class="header"><%=t '.current_sign_in_ip' %></div>
    <%= @user.current_sign_in_ip %>
  </div>
  <div class="item">
    <div class="header"><%=t '.state' %></div>
    <%= t('users.index.table.states')[@user.state] %>
  </div>
  <div class="item">
    <div class="header"><%=t '.admin' %></div>
    <%= @user.admin %>
  </div>
  <div class="item">
    <div class="header"><%=t '.avatar' %></div>
    <%= image_tag @user.avatar.url(:thumb) %>
  </div>
  <div class="item">
    <div class="header"><%=t '.photo' %></div>
    <%= image_tag @user.photo.url(:small), class:'ui image' %>
  </div>
  <div class="item">
    <div class="header"><%=t '.resume' %></div>
    <%=raw @user.resume %>
  </div>
</div>

<table class="ui celled structured table">
  <thead>
    <tr>
      <th rowspan="2" class="center aligned"><%=t '.modules' %></th>
      <th colspan="4" class="center aligned"><%=t '.permissions' %></th>
    </tr>
    <tr>
      <th class="center aligned"><%=t '.read' %></th>
      <th class="center aligned"><%=t '.create' %></th>
      <th class="center aligned"><%=t '.edit' %></th>
      <th class="center aligned"><%=t '.delete' %></th>
    </tr>
  </thead>
  <tbody>
    <% modules = [Achievement, Bulletin, Comment, Instrument, Meeting, News,
      Resource, Topic, Wiki, Inventory] %>
    <% for m in modules %>
      <tr>
        <td><%=t "users.edit.permission_#{m.to_s.downcase}" %></td>
        <td class="center aligned">
          <% if @user.can? :read, m %>
            <i class="large green checkmark icon"></i>
          <% else %>
            <i class="large red remove icon"></i>
          <% end %>
        </td>
        <td class="center aligned">
          <% if @user.can? :create, m %>
            <i class="large green checkmark icon"></i>
          <% else %>
            <i class="large red remove icon"></i>
          <% end %>
        </td>
        <td class="center aligned">
          <% if @user.can? :update, m %>
            <i class="large green checkmark icon"></i>
          <% else %>
            <i class="large red remove icon"></i>
          <% end %>
        </td>
        <td class="center aligned">
          <% if @user.can? :destroy, m %>
            <i class="large green checkmark icon"></i>
          <% else %>
            <i class="large red remove icon"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
