<h2 class="ui center aligned icon header">
  <i class="circular lock icon"></i>
  <%= t '.forgot_password' %>
</h2>

<% if flash[:error] %>
  <div class="ui icon error message">
    <i class="attention circle icon"></i>
    <div class="content">
      <p><%= flash[:error] %></p>
    </div>
  </div>
<% end %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name),
    html: { method: :post, class:'ui form segment'}) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <%= f.submit t('.submit'), class: "fluid ui blue button" %>
<% end %>

<%= render "devise/shared/links" %>
