
<div class="ui vertical segment">
  <h2 class="ui header">
    <i class="circular inverted blue calendar icon"></i>
    <div class="content">
      <%=t 'module.schedule' %>
    </div>
  </h2>
  <%= form_tag schedules_path, method:'GET', class:"ui form" do %>
    <div class="inline fields">
      <div class="field">
        <%= select_tag :user,
              options_for_select(User.pluck(:name,:id),[@user.name,@user.id]),
              class:'ui search dropdown' %>
      </div>
      <%= submit_tag t('.search'), class:"ui blue button" %>
    </div>
  <% end %>
  <%= link_to new_schedule_path, class:"ui green labeled icon button" do %>
    <i class="plus icon"></i><%=t '.new' %>
  <% end %>
</div>

<div class="ui vertical segment calendar">
  <%= month_calendar table: {class: "ui celled table"}, header: {class: "ui header"} do |date| %>
    <div class="ui small circular label"><%= date.day %></div>
    <div class="ui bulleted list">
      <% @schedules.each do |item| %>
        <% if (item.starts_at.to_date <= date) and (item.ends_at.to_date >= date) %>
          <%= link_to item.title, item, class:'item' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
