<div class="ui secondary menu">
  <div class="item">
    <div class="ui huge breadcrumb">
      <a class="section"><%=t 'module.schedule' %></a>
      <i class="right angle icon divider"></i>
      <div class="active section">List</div>
    </div>
  </div>
  <div class="right menu">
    <%= link_to new_schedule_path, class:"item" do %>
      <i class="plus icon"></i><%=t '.new' %>
    <% end if can? :create, Schedule %>

    <%= form_tag schedules_path, method:'GET', class:"item" do %>
      <%= select_tag :user,
            options_for_select(User.pluck(:name,:id),[@user.name,@user.id]),
            class:'ui search dropdown' %>
    <% end %>
  </div>
</div>

<div class="ui vertical segment calendar">
  <%= month_calendar do |date| %>
    <div class="ui small circular label"><%= date.day %></div>
    <div class="ui bulleted list">
      <% @schedules.each do |item| %>
        <% if (item.starts_at.to_date <= date) and (item.ends_at.to_date >= date) %>
          <%= link_to item.title, item, class:'item' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
