<div class="ui secondary menu">
  <div class="item">
    <div class="ui huge breadcrumb">
      <%= link_to t('module.schedule'), schedules_path, class:'section' %>
      <i class="right angle icon divider"></i>
      <div class="active section"><%= @schedule.title %></div>
    </div>
  </div>
  <div class="right menu">
    <% if can? :manage, @schedule %>
      <%= link_to edit_schedule_path(@schedule), class:"item" do %>
        <i class="edit icon"></i><%=t '.edit' %>
      <% end %>
      <%= link_to @schedule, method: :delete, data: { confirm: t('.delete_confirm') },
          class:'item' do %>
        <i class="red trash icon"></i><%=t '.delete' %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="ui visible message">
  <% if @schedule.private %>
    <i class="lock icon"></i>
  <% end %>
  <%= t '.info', { starts_at: (l @schedule.starts_at, :format=>:long),
    ends_at:(l @schedule.ends_at, :format=>:long),
    place: @schedule.place } %>
</div>

<div class="ui segment"><%=raw @schedule.content %></div>
