<div class="ui vertical segment">
  <div class="ui header">
    <div class="ui huge breadcrumb">
      <%= link_to schedules_path, class:'section' do %>
        <i class="blue calendar icon"></i>
        <%=t 'module.schedule' %>
      <% end %>
      <i class="right chevron icon divider"></i>
      <div class="active section"><%= @schedule.title %></div>
    </div>
  </div>
  <div class="ui visible message">
    <% if !@schedule.public %>
      <i class="lock icon"></i>
    <% end %>
    <%= t '.info', { starts_at: (l @schedule.starts_at, :format=>:long),
      ends_at:(l @schedule.ends_at, :format=>:long),
      place: @schedule.place } %>
  </div>
  <p>
    <%= link_to edit_schedule_path(@schedule), class:"ui labeled icon button" do %>
      <i class="edit icon"></i><%=t '.edit' %>
    <% end %>
    <% if current_user?(@schedule.user) %>
      <%= link_to @schedule, method: :delete, data: { confirm: t('.delete_confirm') },
          class:'ui red labeled icon button' do %>
        <i class="edit icon"></i><%=t '.delete' %>
      <% end %>
    <% end %>
  </p>
</div>

<div class="ui segment"><%=raw @schedule.content %></div>
