<div class="ui grid">
  <div class="ten wide column">
    <div class="ui segment">
      <div class="ui blue header">
        <div class="content"><%=t 'module.messages' %></div>
      </div>

      <%= form_for @message, html:{class:"ui form"} do |f| %>
        <div class="field">
          <%= f.text_area :content, rows: '3' %>
        </div>
        <%= f.submit t('.messages.post'), class:"ui fluid button" %>
      <% end %>
      <div class="ui feed">
        <%= render 'messages/index' %>
      </div>
    </div>
  </div>



  <div class="six wide column">
    <div class="ui segment">
      <div class="ui blue header">
        <div class="content"><%=t 'module.schedule' %></div>
      </div>
      <div class="ui divider"></div>
      <% if @schedule.count == 0 %>
        <p><%=t '.schedule.none' %></p>
      <% elsif @schedule.count == 1 %>
        <p><%= link_to t('.schedule.only_one'), schedules_path %></p>
      <% else %>
        <p><%= link_to t('.schedule.more_than_one',{number: @schedule.count}), schedules_path %></p>
      <% end %>
      <% if @schedule.count > 0 %>
        <div class="ui divided list">
          <% @schedule.each do |item| %>
            <div class="item">
              <div class="content">
                <%= link_to item.title, item, class:'header' %>
                <%= t '.meetings.info', { starts_at: (l item.starts_at, :format=>:long),
                  ends_at:(l item.ends_at, :format=>:long),
                  place: item.place } %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
