<div class="ui vertical segment">
  <h2 class="ui header">
    <i class="circular inverted blue newspaper outline icon"></i>
    <div class="content">
      <%=t 'module.news' %>
    </div>
  </h2>
  <%= form_tag news_index_path, method:'GET', class:"ui form" do %>
    <div class="inline fields">
      <div class="field">
        <%= text_field_tag :search, params[:search], placeholder:t('.search') %>
      </div>
      <div class="field">
        <%= submit_tag t('.search'), class:"ui blue button" %>
      </div>
    </div>
  <% end %>
  <%= link_to new_news_path, class:"ui green labeled icon button" do %>
    <i class="plus icon"></i><%=t '.new' %>
  <% end %>
</div>

<table class="ui table segment">
  <thead>
    <tr>
      <th class="ten wide"><%=t '.table.title' %></th>
      <th class="two wide"><%=t '.table.author' %></th>
      <th class="two wide"><%=t '.table.time' %></th>
      <th class="two wide"><%=t '.table.hits' %></th>
    </tr>
  </thead>

  <tbody>
    <% @news.each do |item| %>
      <tr>
        <td><%= link_to item.title, news_path(item) %></td>
        <td><%= item.user.name %></td>
        <td><%=l item.created_at, :format=>:short %></td>
        <td><%= item.hits %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @news %>
