<div class="ui vertical segment">
  <h2 class="ui header">
    <i class="circular inverted blue payment icon"></i>
    <div class="content">
      <%=t 'module.order' %>
    </div>
  </h2>
  <%= form_tag orders_path, method:'GET', class:"ui form" do %>
    <div class="inline fields">
      <div class="field">
        <%= text_field_tag :search, params[:search], placeholder:t('.search') %>
      </div>
      <div class="field">
        <%= submit_tag t('.search'), class:"ui blue button" %>
      </div>
    </div>
  <% end %>
  <%= link_to new_order_path, class:"ui green labeled icon button" do %>
    <i class="plus icon"></i><%=t '.new' %>
  <% end if can? :create, Order %>
</div>

<table class="ui table segment">
  <thead>
    <tr>
      <th class="eight wide"><%=t '.table.title' %></th>
      <th class="three wide"><%=t '.table.total_price' %></th>
      <th class="five wide"><%=t '.table.updated_at' %></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |item| %>
      <tr>
        <td><%= link_to item.title, order_path(item) %></td>
        <td><%= item.total_price %></td>
        <td><%=l item.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @orders %>
