<div class="ui vertical segment">

  <div class="ui header">
    <div class="ui huge breadcrumb">
      <%= link_to orders_path, class:'section' do %>
        <i class="blue payment icon"></i>
        <%=t 'module.order' %>
      <% end %>
      <i class="right chevron icon divider"></i>
      <div class="active section"><%= @order.title %></div>
    </div>
  </div>

  <p>
    <%= link_to edit_order_path(@order), class:"ui labeled icon button" do %>
      <i class="edit icon"></i><%= t '.edit' %>
    <% end if can? :update, @order %>
    <%= link_to @order, method: :delete, data: { confirm: t('.delete_confirm') },
        class:"ui red labeled icon button" do %>
      <i class="trash icon"></i><%=t '.delete' %>
    <% end if can? :destroy, @order %>
  </p>
</div>

<div class="ui list">
  <div class="item">
    <div class="header"><%=t '.title' %></div>
    <%= @order.title %>
  </div>
  <div class="item">
    <div class="header"><%=t '.quantity' %></div>
    <%= @order.quantity %>
  </div>
  <div class="item">
    <div class="header"><%=t '.unit_size' %></div>
    <%= @order.unit_size %>
  </div>
  <div class="item">
    <div class="header"><%=t '.unit_price' %></div>
    <%= @order.unit_price %>
  </div>
  <div class="item">
    <div class="header"><%=t '.total_price' %></div>
    <%= @order.total_price %>
  </div>
  <div class="item">
    <div class="header"><%=t '.bought_from' %></div>
    <%= @order.bought_from %>
  </div>
  <div class="item">
    <div class="header"><%=t '.type' %></div>
    <%= @order.type %>
  </div>
  <div class="item">
    <div class="header"><%=t '.vendor_name' %></div>
    <%= @order.vendor_name %>
  </div>
  <div class="item">
    <div class="header"><%=t '.invoice' %></div>
    <%= @order.invoice %>
  </div>
  <div class="item">
    <div class="header"><%=t '.notes' %></div>
    <%= @order.notes %>
  </div>
</div>
