<div class="ui vertical segment">

  <div class="ui header">
    <div class="ui huge breadcrumb">
      <%= link_to wikis_path, class:'section' do %>
        <i class="blue pencil icon"></i>
        <%=t 'module.wikis' %>
      <% end %>
      <i class="right chevron icon divider"></i>
      <div class="active section"><%= @wiki.title %></div>
    </div>
  </div>

  <% if params[:version] %>
    <div class="ui warning message">
      <%=t '.warning',{ author: @wiki.user.name,
          time:(l @wiki.created_at, format: :long) } %>
    </div>
    <p>
      <%= link_to t('.back'), versions_wiki_path(id: params[:id]), class:"ui button" %>
      <%= link_to t('.latest'), wiki_path(id: params[:id]), class:"ui button" %>
    </p>
  <% else %>
    <div class="ui message">
      <%=t '.info',{ author: @wiki.user.name,
          time:(l @wiki.created_at, format: :long) } %>
    </div>
    <p>
      <%= link_to edit_wiki_path(@wiki), class:"ui labeled icon button" do %>
        <i class="edit icon"></i><%= t '.edit' %>
      <% end %>
      <%= link_to versions_wiki_path(@wiki), class:'ui labeled icon button' do %>
        <i class="history icon"></i><%= t '.versions' %>
      <% end %>
      <% if is_admin? %>
        <%= link_to @wiki, method: :delete, data: { confirm: t('.delete_confirm') },
            class:"ui red labeled icon button" do %>
          <i class="trash icon"></i><%=t '.delete' %>
        <% end %>
      <% end %>
    </p>
  <% end %>
</div>
<div class="ui piled segment"><%= raw @wiki.content %></div>
