<div class="ui vertical segment">
  <div class="ui header">
    <div class="ui huge breadcrumb">
      <%= link_to wikis_path, class:'section' do %>
        <i class="blue pencil icon"></i>
        <%=t 'sidebar.wikis' %>
      <% end %>
      <i class="right chevron icon divider"></i>
      <div class="active section"><%=t '.versions' %></div>
    </div>
  </div>
</div>

<table class="ui table segment">
  <thead>
    <tr>
      <th class="one wide"><%=t '.table.number' %></th>
      <th class="nine wide"><%=t '.table.comment' %></th>
      <th class="three wide"><%=t '.table.time' %></th>
      <th class="three wide"><%=t '.table.author' %></th>
    </tr>
  </thead>
  <tbody>
    <% @wiki.versions.each do |item| %>
      <tr>
        <td><%= item.version %>
        <td>
          <%= link_to item.comment, wiki_path(@wiki,version: item.version) %>
        </td>
        <td><%=l item.updated_at, :format=>:long %></td>
        <td><%= item.user.name %>
      </tr>
    <% end %>
  </tbody>
</table>
