<% content_for :head do %>
  <%= javascript_include_tag 'editor', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'editor', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<div class="ui vertical segment">

  <div class="ui huge header">
    <div class="ui label">
      <span class="fa fa-pencil fa-fw"></span>
      <%=t :wiki %>
    </div>
    <div class="ui label">
      <%=t '.edit' %>
    </div>
    <%= @wiki.title %>
  </div>
</div>
<%= form_for @article,:url=>wiki_article_path(@wiki, @article),html:{class:'ui form segment'} do |f| %>
    <div class="field">
        <%= f.label :content, t('.content') %>
        <%= f.text_area :content, class:'editor'%>
    </div>
    <%= f.submit t('.submit'), class:"ui blue button" %>
<% end %>
