<div class="ui secondary menu">
  <div class="item">
    <div class="ui huge breadcrumb">
      <%= link_to t('module.wikis'), wikis_path, class:'section' %>
      <i class="right angle icon divider"></i>
      <%= link_to @wiki.title, wiki_path(@wiki), class:'section' %>
      <i class="right angle icon divider"></i>
      <div class="active section">Versions</div>
    </div>
  </div>
</div>

<table class="ui table segment">
  <thead>
    <tr>
      <th class="one wide"></th>
      <th class="eight wide"><%=t '.table.title' %></th>
      <th class="three wide"><%=t '.table.time' %></th>
      <th class="three wide"><%=t '.table.author' %></th>
    </tr>
  </thead>
  <tbody>
    <% @versions.each_with_index do |version, i| %>
      <tr>
        <td>
          <%= i + 1 %>
        </td>
        <td>
          <%= link_to version.title, wiki_version_path(@wiki, version) %>
          <% if !version.current and current_user.admin %>
            <%= link_to "Rollback", wiki_version_path(@wiki, version), class: "ui mini button",
              method: :put, data: {confirm: "Are you sure?"} %>
          <% end %>
          <% if version.current %>
            <div class="ui blue label">Current</div>
          <% end %>
        </td>
        <td><%=l version.updated_at, :format=>:long %></td>
        <td><%= version.user.name %>
      </tr>
    <% end %>
  </tbody>
</table>
