
<div class="ui vertical segment">
  <div class="ui huge header">
    <div class="ui label">
      <span class="fa fa-pencil fa-fw"></span>
      <%=t :wiki %>
    </div>
    <div class="ui label">
      <%=t '.history' %>
    </div>
    <%= @wiki.title %>
  </div>
</div>

<table class="ui table segment">
  <thead>
    <tr>
      <th class="six wide"><%=t '.time' %></th>
      <th class="ten wide"><%=t '.author' %></th>
      <% if current_user %>
      <th>删除</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <td><%=l article.updated_at,:format=>:long %></td>
      <td><%= link_to article.user.name, wiki_article_path(@wiki, article) %></td>
      <% if current_user %>
      <td><form name="form_{{item.id}}" action='{{sub_uri}}/wiki/{{item.id}}/delete' method='post'>
        <a href='javascript:document.form_{{item.id}}.submit();'>删除</a>
      </form></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
