<div class="ui vertical segment">
  <h2 class="ui header"><%= @wiki.title %> <small>维基</small></h2>
  <div class="ui visible message">
    本条目由<%= @article.user.name %>编辑于<%=l @article.created_at,:format=>:long %>
  </div>
  <p>
    <%= link_to '返回历史版本列表', wiki_articles_path(@wiki), class:'ui button' %>
  </p>
</div>
<div class="ui piled segment"><%= raw @article.content %></div>
