<div class="ui secondary menu">
  <div class="item">
    <div class="ui huge breadcrumb">
      <%= link_to t('.breadcrumb.root'), resources_path, class:"section" %>
      <% if @parent %>
        <% @parent.ancestors.each do |item| %>
          <i class="right chevron icon divider"></i>
          <%= link_to Resource.find(item).title, resources_path(parent:item), class:"section" %>
        <% end if @parent.ancestors.size > 0 %>
        <i class="right chevron icon divider"></i>
        <div class="active section"><%= @parent.title %></div>
      <% end %>
    </div>
  </div>
  <% if can? :create, Resource %>
    <div class="right menu">
      <a id="new-folder-btn" class="item">
        <i class="folder outline icon"></i><%=t '.new.folder' %>
      </a>
      <a id="new-file-btn" class="item">
        <i class="cloud upload icon"></i><%=t '.new.resource' %>
      </a>
    </div>
  <% end %>
</div>



<table class="ui table segment">
  <thead>
    <tr>
      <th class="eight wide"><%=t '.table.title' %></th>
      <th class="three wide"><%=t '.table.author' %></th>
      <th class="three wide"><%=t '.table.created_at' %></th>
      <th class="one wide"></th>
    </tr>
  </thead>
  </tbody>
    <% @resources.each do |item| %>
      <tr>
        <td>
          <% if item.is_folder %>
            <%= link_to resources_path(parent: item.id) do %>
              <i class="folder icon"></i><%= item.title %>
            <% end %>
          <% else %>
            <%= link_to (ENV["RAILS_RELATIVE_URL_ROOT"]||'') + item.document.url do %>
              <i class="file icon"></i><%= item.title + File.extname(item.document_file_name) %>
            <% end %>
          <% end %>
        </td>
        <td><%= item.user.name %></td>
        <td><%=l item.updated_at,format: :long %></td>
        <td>
          <% if current_user.admin %>
            <%= link_to item, method: :delete, data: { confirm: t('.table.delete_confirm') } do %>
              <i class="trash red icon"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Resource %>

<div class="ui small modal" id="new-folder-modal">
  <i class="close icon"></i>
  <div class="header">
    <h4><%=t '.new.folder' %></h4>
  </div>
  <div class="content">
    <%= form_for @resource, html:{class:"ui form",id:"new-folder-form"} do |f| %>
      <div class="field">
        <%= f.label :title, t('.modal.folder.title') %>
        <%= f.text_field :title %>
      </div>
      <%= f.hidden_field :is_folder, value: true %>
      <%= f.hidden_field :parent %>
    <% end %>
  </div>
  <div class="actions">
    <button type="button" class="ui positive right labeled icon button"
        onClick="$('#new-folder-form').submit();">
        <%=t '.modal.button.submit' %><i class="checkmark icon"></i>
    </button>
    <button type="button" class="ui cancel button"><%=t '.modal.button.cancel' %></button>
  </div>
</div>

<div class="ui standard modal" id="new-file-modal">
  <i class="close icon"></i>
  <div class="header">
    <h4><%=t '.new.resource' %></h4>
  </div>
  <div class="content">
    <%= form_for @resource,html:{class:"ui form",id:"new-file-form"} do |f| %>
      <div class="field">
        <%= f.label :title, t('.modal.resource.title') %>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :document, t('.modal.resource.document') %>
        <%= f.file_field :document %>
      </div>
      <%= f.hidden_field :is_folder, value: false %>
      <%= f.hidden_field :parent %>
    <% end %>
  </div>
  <div class="actions">
    <button type="button" class="ui positive right labeled icon button"
        onClick="$('#new-file-form').submit();">
        <%=t '.modal.button.submit' %><i class="checkmark icon"></i>
    </button>
    <button type="button" class="ui cancel button"><%=t '.modal.button.cancel' %></button>
  </div>
</div>

<% end %>
