<div class="ui vertical segment">
  <h2 class="ui header">
    <i class="circular inverted blue folder open outline icon"></i>
    <div class="content">
      <%=t 'module.resources' %>
    </div>
  </h2>
  <p>
    <button type="button" id="new-folder-btn" class="ui green labeled icon button">
      <i class="folder outline icon"></i><%=t '.new.folder' %></button>
    <button type="button" id="new-file-btn" class="ui green labeled icon button">
      <i class="cloud upload icon"></i><%=t '.new.resource' %></button>
  </p>
</div>
<div class="ui breadcrumb">
  <%= link_to t('.breadcrumb.root'), resources_path, class:"section" %>
  <% if @parent %>
    <% @parent.ancestors.each do |item| %>
      <i class="right chevron icon divider"></i>
      <%= link_to Resource.find(item).title, resources_path(parent:item), class:"section" %>
    <% end if @parent.ancestors.size > 0 %>
    <i class="right chevron icon divider"></i>
    <div class="active section"><%= @parent.title %></div>
  <% end %>
</div>

<table class="ui table segment">
  <thead>
    <tr>
      <th class="eight wide"><%=t '.table.title' %></th>
      <th class="one wide"></th>
      <th class="three wide"><%=t '.table.author' %></th>
      <th class="three wide"><%=t '.table.created_at' %></th>
      <th class="one wide"></th>
    </tr>
  </thead>
  </tbody>
    <% @resources.each do |item| %>
      <tr>
        <td>
          <% if item.is_folder %>
            <%= link_to resources_path(parent: item.id) do %>
              <i class="folder icon"></i><%= item.title %>
            <% end %>
          <% else %>
            <%= link_to item.document.url do %>
              <i class="file icon"></i><%= item.title %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if !item.public %>
              <i class="lock icon"></i>
          <% end %>
        </td>
        <td><%= item.user.name %></td>
        <td><%=l item.updated_at,format: :long %></td>
        <td>
          <% if is_admin? %>
            <%= link_to item, method: :delete, data: { confirm: t('.table.delete_confirm') } do %>
              <i class="trash red icon"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="ui small modal" id="new-folder-modal">
  <i class="close icon"></i>
  <div class="header">
    <h4><%=t '.new.folder' %></h4>
  </div>
  <div class="content">
    <%= form_for @resource, html:{class:"ui form",id:"new-folder-form"} do |f| %>
      <div class="field">
        <%= f.label :title, t('.modal.folder.title') %>
        <%= f.text_field :title %>
      </div>
      <%= f.hidden_field :is_folder, value: true %>
      <%= f.hidden_field :parent %>
    <% end %>
  </div>
  <div class="actions">
    <button type="button" class="ui blue button"
        onClick="$('#new-folder-form').submit();"><%=t '.modal.button.submit' %></button>
    <button type="button" class="ui button"><%=t '.modal.button.cancel' %></button>
  </div>
</div>

<div class="ui standard modal" id="new-file-modal">
  <i class="close icon"></i>
  <div class="header">
    <h4><%=t '.new.resource' %></h4>
  </div>
  <div class="content">
    <%= form_for @resource,html:{class:"ui form",id:"new-file-form",enctype:"multipart/form-data"} do |f| %>
      <div class="field">
        <%= f.label :title, t('.modal.resource.title') %>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :document, t('.modal.document') %>
        <%= f.file_field :document %>
      </div>
      <div class="field">
        <div class="ui toggle checkbox">
          <%= f.check_box :public %>
          <%= f.label :public, t('.modal.resource.public') %>
        </div>
        <p><%=t '.modal.resource.help' %></p>
      </div>
      <%= f.hidden_field :is_folder, value: false %>
      <%= f.hidden_field :parent %>
    <% end %>
  </div>
  <div class="actions">
    <button type="button" class="ui blue button"
        onClick="$('#new-file-form').submit();"><%=t '.modal.button.submit' %></button>
    <button type="button" class="ui button"><%=t '.modal.button.cancel' %></button>
  </div>
</div>

<script>
$(document).on("ready page:load", function() {
  $('#new-folder-modal')
    .modal('attach events', '#new-folder-btn', 'show')
  ;
  $('#new-file-modal')
    .modal('attach events', '#new-file-btn', 'show')
  ;
  $('.ui.checkbox')
    .checkbox()
  ;
});
</script>
