<% content_for :head do %>
  <%= javascript_include_tag 'editor', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'editor', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<%= form_for(@achievement, html:{class:'ui form segment'}) do |f| %>
  <% if @achievement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@achievement.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @achievement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, t('.title') %>
    <%= f.text_field :title %>
  </div>
  <div class="two fields">
    <div class="field">
      <%= f.label :author, t('.author') %>
      <%= f.text_field :author %>
    </div>
    <div class="field">
      <%= f.label :link, t('.link') %>
      <div class="ui labeled input">
        <div class="ui label">http://</div>
        <%= f.text_field :link %>
      </div>
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <%= f.label :date, t('.date') %>
      <%= f.date_field :date %>
    </div>
    <div class="field">
      <%= f.label :context, t('.context') %>
      <%= f.select :context, [['Paper','paper'],['Patent','patent'],['Award','award']],
        {},{class:"ui dropdown"} %>
    </div>
  </div>
  <div class="field">
    <%= f.label :content, t('.content') %>
    <%= f.text_area :content, class:'editor'%>
  </div>

  <%= f.submit t('.submit'), class:"ui blue button" %>
<% end %>
<script>
$(document).on("ready page:load", function() {
  $('select.dropdown')
    .dropdown()
  ;
});
</script>
