<div class="ui vertical segment">
  <h2 class="ui header">
    <i class="circular inverted blue flag icon"></i>
    <div class="content">
      <%=t 'sidebar.achievements' %>
    </div>
  </h2>
  <%= form_tag achievements_path, method:'GET', class:"ui form" do %>
    <div class="inline fields">
      <div class="field">
        <%= text_field_tag :search, params[:search] %>
      </div>
      <div class="field">
        <%= submit_tag t('.button.search'), class:"ui blue button" %>
      </div>
    </div>
  <% end %>
  <%= link_to new_achievement_path, class:"ui green labeled icon button" do %>
    <i class="plus icon"></i><%=t '.button.new' %>
  <% end %>
</div>


<div class="ui divided list">
  <% @achievements.each do |item| %>
    <div class="item">
      <div class="right floated ui">
        <%= link_to 'Edit', item %>
        <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div>
      <i class="file icon"></i>
      <div class="content">
        <%= link_to item.title, item, class:"header" %>
        <div class="description">
          <span class="ui horizontal label"><%=l item.date %></span>
          <%= item.author %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="ui borderless pagination menu">
  <% if @offset != 0 %>
    <%= link_to wikis_path(:page => @offset / @per_page), class:"item" do %>
      <i class="chevron left icon" ></i> <%=t '.previous' %>
    <% end %>
  <% end %>
  <% 1.upto((@count - 1) / @per_page + 1) do |i| %>
    <%= link_to i, wikis_path(:page => i), class:"item" %>
  <% end %>
  <% if @offset / @per_page != (@count - 1) / @per_page %>
    <%= link_to wikis_path(:page => @offset / @per_page + 2), class:"item" do %>
      <%=t '.next' %> <i class="chevron right icon"></i>
    <% end %>
  <% end %>
</div>
