<div class="ui vertical segment">
  <h2 class="ui header">
    <i class="circular inverted blue plug icon"></i>
    <div class="content">
      <%=t 'module.oauth' %>
    </div>
  </h2>
  <%= link_to oauth_applications_path, class:"ui blue labeled icon button" do %>
    <i class="list layout icon"></i><%=t('doorkeeper.applications.index.title') %>
  <% end if current_user.admin? %>
  <%= link_to new_oauth_application_path, class:"ui green labeled icon button" do %>
    <i class="plus icon"></i><%=t 'doorkeeper.applications.index.new' %>
  <% end if current_user.admin? %>
</div>

<table class="ui table segment">
  <thead>
    <tr>
      <th class="six wide"><%= t('doorkeeper.authorized_applications.index.application') %></th>
      <th class="eight wide"><%= t('doorkeeper.authorized_applications.index.created_at') %></th>
      <th class="two wide"></th>
    </tr>
  </thead>
  <tbody>
  <% @applications.each do |application| %>
    <tr>
      <td><%= application.name %></td>
      <td><%= application.created_at.strftime(t('doorkeeper.authorized_applications.index.date_format')) %></td>
      <td>
        <%= link_to t('doorkeeper.authorized_applications.buttons.revoke'),
            oauth_authorized_application_path(application), method: :delete,
            data: { confirm: t('doorkeeper.authorized_applications.confirmations.revoke') },
            class:"ui red tiny button" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
