<div class="ui vertical segment">
  <h2 class="ui header">
    <i class="blue setting icon"></i>
    <div class="content"><%=t 'settings.header' %></div>
  </h2>
</div>

<div class="ui blue menu">
  <%= link_to edit_settings_email_path, class:'active item' do %>
    <i class="mail icon"></i> <%=t 'settings.menu.email' %>
  <% end %>
  <%= link_to edit_settings_avatar_path, class:'item' do %>
    <i class="camera retro icon"></i> <%=t 'settings.menu.avatar' %>
  <% end %>
  <%= link_to edit_settings_password_path, class:'item' do %>
    <i class="lock icon"></i> <%=t 'settings.menu.security' %>
  <% end %>
  <%= link_to edit_settings_locale_path, class:'item' do %>
    <i class="world icon"></i> <%=t 'settings.menu.locale' %>
  <% end %>
</div>

<%= form_for(@user, url: settings_email_path, html:{class:'ui form segment'}) do |f| %>

  <div class="field">
    <%= f.label :email, t('.email') %>
    <div class="ui right labeled input">
      <%= f.email_field :email %>
      <% if @user.confirmed_at %>
        <div class="ui tag label">
          <%=t '.verified' %>
        </div>
      <% else %>
        <div class="ui red tag label">
          <%=t '.unverified' %>
        </div>
      <% end %>
    </div>
  </div>

  <%= f.submit t('.submit'), class:"ui blue button" %>

<% end %>
