<% if @instrument.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@instrument.errors.count, "error") %> prohibited this news from being saved:</h2>
    <ul>
    <% @instrument.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@instrument, :html=>{:class => "ui form segment"}) do |f| %>
  <div class="field">
    <%= f.label :name, t('.name') %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :location, t('.location') %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :serial_number, t('.serial_number') %>
    <%= f.text_field :serial_number %>
  </div>

  <div class="field">
    <%= f.label :maintainer, t('.maintainer') %>
    <%= f.select :maintainer, User.pluck(:name, :id),
        {}, {class:"ui dropdown"} %>
  </div>

  <div class="field">
    <%= f.label :description, t('.description') %>
    <%= f.text_area :description, class:'editor' %>
  </div>

  <div class="field">
    <div class="ui toggle checkbox">
      <%= f.check_box :available %>
      <%= f.label :available, t('.available') %>
    </div>
  </div>

  <%= f.submit t('.submit'), class:"ui blue button" %>
<% end %>
