<%= form_for(@instrument, :html=>{:class => "ui form segment"}) do |f| %>
  <div class="field">
    <%= f.label :title, t('.title') %>
    <%= f.text_field :title %>
  </div>

  <%= f.submit t('.submit'), class:"ui blue button" %>
  <%= link_to t('.cancel'), instruments_path, class:"ui button" %>
<% end %>
