<div class="ui vertical segment">
  <h2 class="ui header">
    <i class="circular inverted blue cube icon"></i>
    <div class="content">
      <%=t 'sidebar.instruments' %>
    </div>
  </h2>
  <%= form_tag instruments_path, method:'GET', class:"ui form" do %>
    <div class="inline fields">
      <div class="field">
        <%= text_field_tag :search, params[:search], placeholder:t('.search') %>
      </div>
      <div class="field">
        <%= submit_tag t('.search'), class:"ui blue button" %>
      </div>
    </div>
  <% end %>
  <%= link_to new_instrument_path, class:"ui green labeled icon button" do %>
    <i class="plus icon"></i><%=t '.new' %>
  <% end %>
</div>

<table class="ui table segment">
  <thead>
    <tr>
        <th class="eight wide"><%=t '.table.title' %></th>
        <th class="six wide"><%=t '.table.time' %></th>
        <th class="two wide"></th>
    </tr>
  </thead>
  <tbody>
    <% @instruments.each do |instrument| %>
    <tr>
        <td><%= link_to instrument.title, instrument_path(instrument) %></td>
        <td><%=l instrument.updated_at,:format=>:long %></td>
        <td>
          <%= link_to content_tag('i',nil,class:'edit icon'), edit_instrument_path(instrument) %>
          <%= link_to content_tag('i',nil,class:'red trash icon'), instrument, method: :delete,
                data: { confirm: t('.table.delete_confirm') } %>
        </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= pagination instruments_path, params[:page], @pages %>
