<div class="ui secondary menu">
  <div class="item">
    <div class="ui huge breadcrumb">
      <a class="section"><%=t 'module.instruments' %></a>
      <i class="right angle icon divider"></i>
      <div class="active section">List</div>
    </div>
  </div>
  <div class="right menu">
    <%= link_to new_instrument_path, class:"item" do %>
      <i class="plus icon"></i><%=t '.new' %>
    <% end if can? :create, Instrument %>

    <%= form_tag instruments_path, method:'GET', class:"item" do %>
      <div class="ui icon input">
        <%= text_field_tag :search, params[:search], placeholder:t('.search') %>
        <i class="search link icon"></i>
      </div>
    <% end %>
  </div>
</div>

<div class="ui hidden divider"></div>

<div class="ui cards">
  <% @instruments.each do |instrument| %>
    <div class="card">
      <div class="content">
        <div class="header">
          <%= link_to instrument.name, instrument %>
        </div>
        <div class="meta"><%= instrument.location %></div>
        <div class="description">
          <%= strip_tags(instrument.description).truncate_words(30) %>
        </div>
      </div>
      <%= link_to "Booking", instrument_bookings_path(instrument), class: "ui bottom attached button" %>
    </div>
  <% end %>
</div>

<%= paginate @instruments %>
