<div class="ui secondary menu">
  <div class="item">
    <div class="ui huge breadcrumb">
      <%= link_to t('module.instruments'), instruments_path, class:'section' %>
      <i class="right angle icon divider"></i>
      <div class="active section"><%= @instrument.name %></div>
    </div>
  </div>
  <div class="right menu">
    <%= link_to edit_instrument_path(@instrument), class:"item" do %>
      <i class="edit icon"></i><%= t '.edit' %>
    <% end if can? :update, @instrument %>
    <%= link_to @instrument, method: :delete, data: { confirm: t('.delete_confirm') },
        class:"item" do %>
      <i class="red trash icon"></i><%=t '.delete' %>
    <% end if can? :destroy, @instrument %>
  </div>
</div>

<table class="ui collapsing definition table">
  <tbody>
    <tr>
      <td><%=t '.location' %></td>
      <td><%= @instrument.location %></td>
    </tr>
    <tr>
      <td><%=t '.serial_number' %></td>
      <td><%= @instrument.serial_number %></td>
    </tr>
    <tr>
      <td><%=t '.maintainer' %></td>
      <td><%= link_to User.find(@instrument.maintainer).name, profiles_path(@instrument.maintainer) %></td>
    </tr>
    <tr>
      <td><%=t '.available' %></td>
      <td><%= @instrument.available %></td>
    </tr>
  </tbody>
</table>

<div class="ui stacked segment"><%= raw @instrument.description %></div>
