<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="initial-scale=0.5,user-scalable=no">
  <title>Natty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body class="layout">

  <!-- top fixed menu -->
  <div class="ui top attached inverted blue menu">
    <%= link_to root_path, class: "header item" do %>
      <%= image_tag "logo_o.svg" %>
      <%= t 'app.name.long' %>
    <% end %>
    <div class="right menu">
      <div class="ui dropdown icon item">
        <%= image_tag current_user.avatar.url(:thumb), class: 'ui avatar image' %>
        <%= current_user.name %>
        <i class="dropdown icon"></i>
        <div class="menu">
          <%= link_to edit_profile_path(current_user.profile), class:'item' do %>
            <i class="user icon"></i>
            <%= t('menu.profile') %>
          <% end %>
          <%= link_to settings_path, class:'item' do %>
            <i class="setting icon"></i>
            <%= t 'menu.settings' %>
          <% end %>
          <%= link_to content_tag('i', nil, class:'users icon') +
                t('module.users'), users_path, class:'item' if can? :read, User %>
          <%= link_to content_tag('i',nil,class:'plug icon') +
                t('module.oauth'), oauth_authorized_applications_path, class:'item' if current_user.admin %>
          <%= link_to destroy_user_session_path, method: :delete, class:'item' do %>
            <i class="sign out icon"></i>
            <%=t '.menu.signout' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="main">

    <!-- left vertical navigation menu -->
    <div class="ui vertical labeled icon menu">
      <%= link_to content_tag('i',nil,class:'large blue comments icon') +
            t('module.topics'), forums_path, class:'item' if can? :read, Topic %>
      <%= link_to content_tag('i',nil,class:'large blue pencil icon') +
            t('module.wikis'), wikis_path, class:'item' if can? :read, Wiki %>
      <%= link_to content_tag('i',nil,class:'large blue calendar icon') +
            t('module.schedule'), schedules_path, class:'item' if can? :read, Schedule %>
      <%= link_to content_tag('i',nil,class:'large blue folder open icon') +
            t('module.resources'), resources_path, class:'item' if can? :read, Resource %>
      <%= link_to content_tag('i',nil,class:'large blue lab icon') +
            t('module.inventories'), inventories_path, class:'item' if can? :read, Inventory %>
      <%= link_to content_tag('i',nil,class:'large blue cube icon') +
            t('module.instruments'), instruments_path, class:'item' if can? :read, Instrument %>
    </div>


    <!-- main -->
    <div class="ui container">
      <% if notice %>
        <div class="ui blue message">
          <i class="close icon"></i>
          <%=raw notice %>
        </div>
      <% end %>

      <%= yield %>

    </div>
  </div>
</body>
</html>
