<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="initial-scale=0.5,user-scalable=no">
  <title>Natty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- left navigation sidebar -->
  <div class="ui left vertical inverted blue thin icon labeled sidebar menu">
    <%= link_to content_tag('i',nil,class:'large home icon') +
          t('module.home'), root_path, class:'item' %>
    <%= link_to content_tag('i',nil,class:'large comments icon') +
          t('module.topics'), topics_path, class:'item' if can? :read, Topic %>
    <%= link_to content_tag('i',nil,class:'large pencil icon') +
          t('module.wikis'), wikis_path, class:'item' if can? :read, Wiki %>
    <%= link_to content_tag('i',nil,class:'large calendar icon') +
          t('module.schedule'), schedules_path, class:'item' if can? :read, Schedule %>
    <%= link_to content_tag('i',nil,class:'large folder open icon') +
          t('module.resources'), resources_path, class:'item' if can? :read, Resource %>
    <%= link_to content_tag('i',nil,class:'large lab icon') +
          t('module.inventories'), inventories_path, class:'item' if can? :read, Inventory %>
    <%= link_to content_tag('i',nil,class:'large newspaper outline icon') +
          t('module.news'), news_index_path, class:'item' if can? :read, News %>
    <%= link_to content_tag('i',nil,class:'large briefcase icon') +
          t('module.meetings'), meetings_path, class:'item' if can? :read, Meeting %>
    <%= link_to content_tag('i',nil,class:'large flag icon') +
          t('module.achievements'), achievements_path, class:'item' if can? :read, Achievement %>
    <%= link_to content_tag('i',nil,class:'large cube icon') +
          t('module.instruments'), instruments_path, class:'item' if can? :read, Instrument %>
    <%= link_to content_tag('i',nil,class:'large payment icon') +
          t('module.orders'), orders_path, class:'item' if can? :read, Order %>
    <%= link_to content_tag('i',nil,class:'large users icon') +
          t('module.users'), users_path, class:'item' if can? :read, User %>
    <%= link_to content_tag('i',nil,class:'large sitemap icon') +
          t('module.groups'), groups_path, class:'item' if can? :read, Group %>
    <%= link_to content_tag('i',nil,class:'large plug icon') +
          t('module.oauth'), oauth_authorized_applications_path, class:'item' %>
  </div>

  <!-- top fixed menu -->
  <div class="ui top fixed inverted blue menu">
    <a class="item left-sidebar-toggle">
      <i class="content icon"></i>
      <b class="hidden-xs"><%= t 'app.name.long' %></b>
      <b class="visible-xs-inline-block hidden-sm hidden-md hidden-lg">
        <%= t 'app.name.short' %>
      </b>
    </a>
    <div class="ui locale dropdown item" data-content="<%=t 'menu.languages' %>">
      <i class="world icon"></i>
      <div class="menu">
        <% for k,v in avaliable_locales %>
          <%= link_to v, {:locale=> k}, class:'item' %>
        <% end %>
      </div>
    </div>
    <div class="right menu">
      <%= link_to edit_profile_path, 'data-content' => t('menu.profile'),
          class:'item', style:"padding-top:5px;padding-bottom:5px;" do %>
        <%= image_tag current_user.avatar.url(:thumb), class: 'ui avatar image' %>
        <%= current_user.name %>
      <% end %>
      <%= link_to settings_path,
          class:'item', 'data-content' => t('menu.settings') do %>
        <i class="settings icon"></i>
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete,
          class:'item', 'data-content' => t('menu.signout') do %>
        <i class="sign out icon"></i>
      <% end %>
    </div>
  </div>
  <!-- main -->
  <div class="pusher">
    <div class="ui container" style="margin-top:50px;">
      <% if notice %>
        <div class="ui blue message">
          <i class="close icon"></i>
          <%=raw notice %>
        </div>
      <% end %>

      <%= yield %>

    </div>
  </div>
</body>
</html>
