<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="initial-scale=0.5,user-scalable=no">
  <title>RTISS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- left navigation sidebar -->
  <div class="ui left vertical inverted blue thin icon labeled sidebar menu">
    <%= link_to content_tag('i',nil,class:'large home icon') +
          t('module.home'), root_path, class:'item' %>
    <%= link_to content_tag('i',nil,class:'large comments icon') +
          t('module.topics'), topics_path, class:'item' %>
    <%= link_to content_tag('i',nil,class:'large pencil icon') +
          t('module.wikis'), wikis_path, class:'item' %>
    <%= link_to content_tag('i',nil,class:'large calendar icon') +
          t('module.schedule'), schedules_path, class:'item' %>
    <%= link_to content_tag('i',nil,class:'large folder open icon') +
          t('module.resources'), resources_path, class:'item' %>
    <%= link_to content_tag('i',nil,class:'large newspaper outline icon') +
          t('module.news'), news_index_path, class:'item' %>
    <%= link_to content_tag('i',nil,class:'large briefcase icon') +
          t('module.meetings'), meetings_path, class:'item' %>
    <%= link_to content_tag('i',nil,class:'large flag icon') +
          t('module.achievements'), achievements_path, class:'item' %>
    <%= link_to content_tag('i',nil,class:'large cube icon') +
          t('module.instruments'), instruments_path, class:'item' %>
    <%= link_to content_tag('i',nil,class:'large bullhorn icon') +
          t('module.bulletin'), bulletins_path, class:'item' %>
    <%= link_to content_tag('i',nil,class:'large users icon') +
          t('module.users'), users_path, class:'item' if is_admin? %>
  </div>

  <!-- top fixed menu -->
  <div class="ui top fixed inverted blue menu">
    <a class="item left-sidebar-toggle">
      <i class="content icon"></i>
      <b class="hidden-xs"><%= t 'app.name.long' %></b>
      <b class="visible-xs-inline-block hidden-sm hidden-md hidden-lg">
        <%= t 'app.name.short' %>
      </b>
    </a>
    <div class="ui locale dropdown item" data-content="<%=t 'menu.popup.languages' %>">
      <i class="world icon"></i>
      <div class="menu">
        <% for k,v in avaliable_locales %>
          <%= link_to v, {:locale=> k}, class:'item' %>
        <% end %>
      </div>
    </div>
    <div class="right menu">
      <div class="ui dropdown item" data-content="<%=t 'menu.popup.username' %>"
        style="padding-top:5px;padding-bottom:5px;">
        <div class="ui image label"
          style="padding-left:3px;padding-top:7px;padding-bottom:7px;margin-top:0;margin-bottom:0;">
          <%= image_tag current_user.avatar.url(:thumb) %>
          <%= current_user.name %>
        </div>
        <div class="menu">
          <%= link_to edit_profile_path, class:'item' do %>
            <i class="user icon"></i><%=t 'menu.profile' %>
          <% end %>
          <%= link_to settings_path, class:'item' do %>
            <i class="settings icon"></i><%=t 'menu.settings' %>
          <% end %>
          <%= link_to signout_path, method: :delete,class:'item' do %>
            <i class="sign out icon"></i><%=t 'menu.signout' %>
          <% end %>
        </div>
      </div>
      <%= link_to content_tag('i',nil,class:'envelope icon'), messages_path,
          class:'item', 'data-content':t('menu.popup.messages') %>
    </div>
  </div>
  <!-- main -->
  <div class="pusher">
    <div class="ui page grid" style="padding-top:40px;">
      <% if notice %>
        <div class="row">
          <div class="sixteen wide column">
            <div class="ui blue message">
              <i class="close icon"></i>
              <%=raw notice %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="sixteen wide column">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
