<!DOCTYPE html>
<html>
<head>
  <title>RTISS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%=  yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="ui vertical inverted blue thin icon labeled sidebar menu left">
    <%= link_to content_tag('i',nil,class:'large home icon') +
          t('sidebar.home'), root_path, class:'item' %>
    <%= link_to content_tag('i',nil,class:'large comments icon') +
          t('sidebar.topics'), topics_path, class:'item' %>
    <%= link_to content_tag('i',nil,class:'large pencil icon') +
          t('sidebar.wikis'), wikis_path, class:'item' %>
    <%= link_to content_tag('i',nil,class:'large calendar icon') +
          t('sidebar.schedule'), schedules_path, class:'item' %>
    <%= link_to content_tag('i',nil,class:'large folder open icon') +
          t('sidebar.resources'), resources_path, class:'item' %>
    <%= link_to content_tag('i',nil,class:'large photo icon') +
          t('sidebar.news'), news_index_path, class:'item' %>
    <%= link_to content_tag('i',nil,class:'large briefcase icon') +
          t('sidebar.meetings'), meetings_path, class:'item' %>
    <%= link_to content_tag('i',nil,class:'large flag icon') +
          t('sidebar.achievements'), achievements_path, class:'item' %>
    <%= link_to content_tag('i',nil,class:'large cube icon') +
          t('sidebar.equipments'), equipments_path, class:'item' %>
    <%= link_to content_tag('i',nil,class:'large bullhorn icon') +
          t('sidebar.bulletin'), bulletins_path, class:'item' %>
    <%= link_to content_tag('i',nil,class:'large male icon') +
          t('sidebar.users'), users_path, class:'item' if is_admin? %>
  </div>

  <div class="pusher">
    <div class="ui inverted blue menu">
      <a class="item sidebar-toggle">
        <i class="content icon"></i>
        <b class="hidden-xs"><%= t 'app.name.long' %></b>
        <b class="visible-xs-inline-block hidden-sm hidden-md hidden-lg">
          <%= t 'app.name.short' %>
        </b>
      </a>
      <div class="ui locale dropdown item">
        <i class="world icon"></i>
        <div class="menu">
          <% for k,v in all_locales %>
            <%= link_to v, {:locale=> k}, class:'item' %>
          <% end %>
        </div>
      </div>

      <div class="right menu">
        <%= link_to messages_path, class:'item' do %>
          <%= content_tag('i',nil,class:'envelope icon') %>
          <% if false %>
            <div class="ui red circular label"></div>
          <% end %>
        <% end %>
        <%= link_to content_tag('i',nil,class:'user icon'), profile_path, class:'item' %>
        <%= link_to content_tag('i',nil,class:'setting icon'), setting_path, class:'item' %>
        <%= link_to content_tag('i',nil,class:'sign out icon'), signout_path,
              method: :delete,class:'item' %>
      </div>
    </div>

    <div class="ui page grid">
      <div class="ui column">
        <%= yield %>
      </div>
    </div>

  </div>
</body>
</html>
