<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="initial-scale=0.5">
  <title>RTISS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style media="screen">

  </style>
</head>
<body class="sessions" style="background-image: url(<%= image_path("signin_bg.jpg") %>);">
  <div class="ui menu">
    <%= link_to root_path, class:"item" do %>
      <b><%= t 'app.name.long' %></b>
    <% end %>
    <div class="ui locale dropdown item">
      <i class="world icon"></i>
      <div class="menu">
        <% for k,v in all_locales %>
          <%= link_to v, {:locale=> k}, class:'item' %>
        <% end %>
      </div>
    </div>
    <div class="right menu">
      <div class="item">
        <%= link_to t('sessions.new.signin'), signin_path, class:'ui blue button' %>
      </div>
      <div class="item">
        <a class="ui green button"><%= t('sessions.new.apply') %></a>
      </div>
    </div>
  </div>
  <div class="ui page grid">
    <div class="ui column">
      <div class="ui one column centered grid">
        <div class="doubling two column centered row">
          <div class="column">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
